@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "Amazon Ember";
  src: url("/fonts/Ember/Amazon-Ember-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Amazon Ember";
  src: url("/fonts/Ember/Amazon-Ember-MediumItalic.ttf") format("truetype");
  font-weight: 500; /* Medium */
  font-style: italic;
}

@font-face {
  font-family: "Amazon Ember";
  src: url("/fonts/Ember/AmazonEmber_Bd.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Amazon Ember";
  src: url("/fonts/Ember/AmazonEmber_Bdlt.ttf") format("truetype");
  font-weight: 700; /* Bold */
  font-style: italic;
}

@font-face {
  font-family: "Amazon Ember";
  src: url("/fonts/Ember/AmazonEmber_He.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Amazon Ember";
  src: url("/fonts/Ember/AmazonEmber_Helt.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: italic;
}

@font-face {
  font-family: "Amazon Ember";
  src: url("/fonts/Ember/AmazonEmber_Lt.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "Amazon Ember";
  src: url("/fonts/Ember/AmazonEmber_Ltit.ttf") format("truetype");
  font-weight: 300; /* Light */
  font-style: italic;
}

@font-face {
  font-family: "Amazon Ember";
  src: url("/fonts/Ember/AmazonEmber_Rg.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Amazon Ember";
  src: url("/fonts/Ember/AmazonEmber_Rglt.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: italic;
}

@font-face {
  font-family: "Amazon Ember";
  src: url("/fonts/Ember/AmazonEmber_Th.ttf") format("truetype");
  font-weight: 200; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: "Amazon Ember";
  src: url("/fonts/Ember/AmazonEmber_Thlt.ttf") format("truetype");
  font-weight: 200; /* Thin */
  font-style: italic;
}

body {
  color: #000000;
  background: #ffffff;
  font-family: "Amazon Ember", sans-serif;
}

input#togglePlan:checked ~ .dot {
  @apply translate-x-full;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
